<div class="nav">
  <div class="nav__bar">
    <img src="assets/images/logo.svg" alt="logo" />
    <div class="nav__btns">
      <button class="nav__btn">Home</button>
      <button class="nav__btn">New</button>
      <button class="nav__btn">Popular</button>
      <button class="nav__btn">Trending</button>
      <button class="nav__btn">Categories</button>
    </div>
    <img
      src="assets/images/icon-menu.svg"
      alt="menu"
      class="nav__menu"
      (click)="openModal()"
    />
  </div>
  <div class="nav__dialog" *ngIf="open === true">
    <div class="nav__filler">
      <div class="nav__modal">
        <div class="nav__close">
          <img
            src="assets/images/icon-menu-close.svg"
            alt="close"
            (click)="openModal()"
          />
        </div>
        <div class="nav__mobile-btns">
          <button class="nav__btn">Home</button>
          <button class="nav__btn">New</button>
          <button class="nav__btn">Popular</button>
          <button class="nav__btn">Trending</button>
          <button class="nav__btn">Categories</button>
        </div>
      </div>
    </div>
  </div>
</div>
