.news{
  min-width: 375px;
  max-width: 680px;
  display: grid;
  --padding:0 .7rem;
  
}



.news__main-pic{
  padding: var(--padding)
}

.news__mobile-pic{
  
}

.news__title{
  padding: var(--padding);
  padding-top: 1rem;
  font-size: 1.5rem;
  
}

.news__web{
  padding: var(--padding);
  padding-top: 1.2rem;
  color:var(--dark-grayish-blue);
  margin-bottom: 2rem;
}

.news__web p{
  padding-bottom: 1.2rem;
}

.news__btn{
 border: transparent;
 background-color: var(--soft-red); 
 color: var(--off-white);
 letter-spacing: 5px;
 padding: .7rem 2.2rem;
}

.news__articles{
  margin:0 .7rem;
  background-color: var(--very-dark-blue);
  padding: 1.5rem 1.2rem;

}

.news__articles h2{
  color:var(--soft-orange)
}

.news__topics h3{
  color: var(--off-white);
}

.news__topics p{
  color: var(--grayish-blue);
}

.news__topic{
  padding:.7rem 0rem;
}

.news__separator{
  height:1px;
  width:auto;
  background-color: var(--grayish-blue);
}

.news__popular{
  padding: var(--padding);
  padding-top: 3.5rem;
  display:grid;
  row-gap: 2rem;
}

.news__trends{
  display: flex;
  
}

.news__trends img{
  width:fit-content;
}

.news__trend{
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.news__trend p {
  color: var(--dark-grayish-blue);
}

.news__trend h4{
  font-size: 1rem;
}

.news__trends img{
  height: 9rem;
}

.news__number{
  font-size: 2rem;
  color: var(--grayish-blue) !important;
}

@media screen and (min-width:680px){
  .news{
    max-width:1440px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    
  }

  .one{
    grid-area:1/1/2/3;
    
  }

  .two{
    grid-area:2/1/3/2;
  }

  .three{
    grid-area: 2/2/3/3;
    
    
  }

  .four{
    grid-area:1/3/3/4;
    margin-left:0rem;
    margin-right: 0.7rem;
  }
  
  .five{
    display:flex;
    padding: 2rem .7rem;
    padding-bottom: 3rem;
  }
  
}